/* Base Styles */
:root {
    --text-color: #1a1c20;
    --link-color: #ffffff;
    --background-color: #eeeff1;
    font-size: 17px; /* Set the base font size */
}

* {
    text-align: center;  
    font-family: "Quicksand"; 
    margin: 0;
}

/* Header & menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #cfddc8;
}

.over-mij {
    font-family: "Birthstone Bounce";
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 0.8rem;
}

nav {
    display: flex;
    gap: 15px;
    padding: 0 3.125rem;
}

nav a {
    text-decoration: none;
    font-family: "Figtree";
    font-weight: bold;
    font-size: 0.8rem;
    color: #333;
    padding: 0.5rem;
}

nav a:hover {
    color: #ffffff;
}


/* Welkomsbericht */
.welkom {
    font-family: "Indie flower";
    font-size: 50px;
    text-shadow: 2px 2px 2px #ababab;
    text-align: center;
}

/* Foto */
.foto img {
    border-radius: 50%;
    padding-top: 1.4rem;
}

/* over mij */
#over-mij {
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    background-color: #f6f8f4;
}

#over-mij .bio {
    margin-bottom: 0.5rem;
    padding: 0 2rem;
    max-width: 56.25rem;
}

#over-mij .socials {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 1rem;
    padding-bottom: 2rem;
    gap: 3rem;
}

#over-mij .socials i {
    color: #618a4a;
    transition: color 0.3s ease;
    font-size: 3rem;
}

#over-mij .socials i:hover {
    color: #98c180;
}



/* projecten */


/* Skills */
#skills {
    background-color: #f6f8f4;
}

/* contact */


/* Footer */
.footer {
    font-family: "Figtree";
    font-size: 12px;
    text-align: center;
    background-color: rgb(132, 118, 102);
    color: beige;
    padding: 1rem 0;
    height: 1rem;
}
